<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3336/ct"/>
                <property name="username" value="qianqh"/>
                <property name="password" value="qianqh123"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="/mybatis/mapper/Celltype.xml"/>
        <mapper resource="/mybatis/mapper/Marker.xml"/>
        <mapper resource="/mybatis/mapper/Search.xml"/>
        <mapper resource="/mybatis/mapper/Study.xml"/>
        <mapper resource="/mybatis/mapper/Tissue.xml"/>
        <mapper resource="/mybatis/mapper/Publication.xml"/>
        <mapper resource="/mybatis/mapper/Tool.xml"/>

        <!--        <mapper resource="mybatis/mapper/Gene.xml"/>-->
<!--        <mapper resource="mybatis/mapper/AnnotSV.xml"/>-->
<!--        <mapper resource="mybatis/mapper/LD.xml"/>-->
<!--        <mapper resource="mybatis/mapper/Filter.xml"/>-->
<!--        <mapper resource="mybatis/mapper/Other.xml"/>-->
    </mappers>

</configuration>

